[submodule "vimfiles/bundle/vim-rails"]
	path = vimfiles/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/bundle/vim-pathogen"]
	path = vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/vim-nerdtree"]
	path = vimfiles/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/colorschemes"]
	path = vimfiles/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vimfiles/bundle/vim-delimitMate"]
	path = vimfiles/bundle/vim-delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/bundle/vim-supertab"]
	path = vimfiles/bundle/vim-supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/vim-ragtag"]
	path = vimfiles/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vimfiles/bundle/vim-endwise"]
	path = vimfiles/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-railscasts-theme"]
	path = vimfiles/bundle/vim-railscasts-theme
	url = git://github.com/jpo/vim-railscasts-theme.git
[submodule "vimfiles/bundle/vim-scss-syntax"]
	path = vimfiles/bundle/vim-scss-syntax
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "vimfiles/bundle/tabman"]
	path = vimfiles/bundle/tabman
	url = git://github.com/kien/tabman.vim.git
